.App {
  display: flex;
  align-items: center;
  flex-direction: column;

  p {
    font-size: 60px;
  }
}

@media (max-width: 1280px) {
  .App {

    p {
      font-size: 40px;
    }
  }
}



@media (max-width: 830px) {
  .App {

    p {
      font-size: 20px;
    }
  }
}

